
<div *ngIf="book">
   <h2> <a href="{{book.formats['text/html']}}" target="_blank">{{book?.title}} </a></h2>
<div>
    <a routerLink="/search">Back To Search</a>
</div>

<div *ngIf="vocabLoading">
  <em>Loading vocab words...</em>
</div>

<div *ngIf="analysisResult?.top_100_hardest?.length > 0" class="hardest-words-container">
    <h3>Top 100 Hardest Words</h3>
    <div *ngFor="let group of getGroupedWords(analysisResult.top_100_hardest, 10); let gi = index" class="word-row">
      <span 
        *ngFor="let word of group; let i = index"
        [ngClass]="getColorClass(i + gi * 10)"
        class="word-item"
      >
        {{i + 1 + gi*10}}. {{word}}
      </span>
    </div>
  </div>
  

<!-- </div>{{bookText}} <div> -->