<app-header></app-header>

<app-search-bar (searchTextChanged)="onSearchTextEntered($event)"></app-search-bar>

<div *ngIf="loading">Loading...</div>
<div *ngIf="books.length > 0">
    {{books.length}} results were found. 
</div>

<app-book-list [books]="books"></app-book-list>
 <!-- inputs/outputs: https://v17.angular.io/guide/inputs-outputs -->

<div *ngIf="!loading && books && books.length === 0 && hasSearched">
No books found for your search.
</div>

<a routerLink="/book-detail">Book Detail</a>

<router-outlet></router-outlet>